*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #c4e1f5;
}
#Ourstory{
    display: flex;
    align-items: center;
    gap: 2vw;
}
h1, .number{
    font-size: 1.5vw;
    font-family:Tahoma
}
h2{
    font-size: 1.5vw;
    font-family:Tahoma;
    color: white;
    margin-bottom: 0 !important;
}
p, .text{
    font-size: 1vw;
}
#titbox{
    display: flex;
    gap: 1vh;
}
#Secciones{
    display: flex;
    flex-direction: row;
}
#SeccionIzq{
    width: 70vw;
    height: 100vh !important;
    /* border: 1px solid red; */
    padding: 0 3vw 3vw 3vw;
}
#SeccionDer{
    /* border: 1px solid red; */
    width: 30vw;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;

}
#SeccionDer a{
    text-decoration: none;
    color: black;
}
#Album, #Canciones, #Mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#Encabezado{
    display: flex;
    width: 25vw;
    height: 3vw;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
    background-color: #1D5D9B;
    border-radius: 1vw 1vw 0 0;
}
#imgfoto{
    width: 2vw;
    height: 2vw;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#Secimg{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); /* 2 filas */
    gap: 0.2em; /* Espacio entre imágenes */
    width: 25vw;
    height: 15vw;
    padding: 1vw;
    background-color: #75C2F6;
    border-radius: 0 0 1vw 1vw ;
}
#imgalbum{
    width: 100%; /* Ancho del viewport */
    height: 100%;
    border-radius: 1vw;
    overflow: hidden; /* Oculta cualquier parte de la imagen que no quepa */

}
#imga{
    display: flex;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho del contenedor */
     /* Ocupa todo el alto del contenedor */
    /* Ajusta la imagen al    padding-top: 1vw;
    padding-bottom: 1vw; tamaño del contenedor y recorta lo que no quepa */
}
#map{
    width: 23vw;
    height: 10vw;
    border-radius: 1vw;
}
#Secmus{
    gap: 0.2em; /* Espacio entre imágenes */
    width: 25vw;
    height: 8vw;
    padding: 1vw;
    background-color: #75C2F6;
    border-radius: 0 0 1vw 1vw ;
    
}
#Secmap{
    gap: 0.2em; /* Espacio entre imágenes */
    width: 25vw;
    height: 12vw;
    padding: 1vw;
    background-color: #75C2F6;
    border-radius: 0 0 1vw 1vw ;
    
}
#mus{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    background-image: url('../images/morat.jpg'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Esto hará que la imagen de fondo cubra todo el body */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    background-position: center;
    
}
@media (max-width: 580px){
    h1,h2, .number{
        font-size: 5vw;
    }
    p, .text{
        font-size: 2.5vw;
    }
    .number-box {
        width: 100vw;
        height: 100vw;
    }
    .text-box {
        width: 12vw !important;
        height: 6vw !important;
    }
    #Secciones{
        display: flex;
        flex-direction: column;
    }
    #SeccionDer, #SeccionIzq{
        width: 100vw;
    }
    .ssd{
        width: 80vw !important;
    }
    .encabezado{
        height: 12vw !important;
        border-radius: 5vw 5vw 0 0 !important;
    }
    .cuerpo{
        height: 50vw !important;
        border-radius: 0 0 5vw 5vw !important;
    }
    #imgalbum, #mus, #map{
        border-radius: 4vw !important;
    }
    #map{
        width: 100%;
        height: 100%;
    }
    #imgfoto{
        width: 8vw;
        height: 8vw;
        border-radius: 2vw;
    }
}